{% extends "base.html" %}

{% block title %}
    Ex01: Django, framework web.
{% endblock title %}

{% block content %}
    <h2>
        Intro
    </h2>
    <p>
        Django is a free and open-source, Python-based web framework that 
        runs on a web server. It follows the 
        model–template–views (MTV) architectural pattern.
        It is maintained by the Django Software Foundation (DSF), an 
        independent organization established in the US as a 501(c) non-profit.
    </p>
    <h3>
        History
    </h3>
    <p>
        Django was created in the autumn of 2003,
        when the web programmers at the Lawrence Journal-World newspaper, 
        Adrian Holovaty and Simon Willison, began using Python to build 
        applications. Jacob Kaplan-Moss was hired early in Django's 
        development shortly before Willison's internship ended. It was 
        released publicly under a BSD license in July 2005. The framework 
        was named after guitarist Django Reinhardt. Holovaty is a romani 
        jazz guitar player inspired in part by Reinhardt's music.
    </p>
{% endblock content %}