<nav>
    <h1>Menu</h1>
    {% if user.is_authenticated %}
    <p>Logged in as {{ user.username }}</p>
    {% endif %}
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'articles' %}">Last Articles</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'publications' %}">Publications</a></li>
        <li><a href="{% url 'favorite_articles' %}">Favorite Articles</a></li>
        <li><a href="{% url 'publish' %}">Publish</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'register' %}">Register</a></li>
            <li>
                <strong>Login:</strong>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {{ login_form.as_p }}
                    <button type="submit">Login</button>
                </form>
            </li>
        {% endif %}
    </ul>
</nav>