<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #000;
            padding: 4px;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Episode</th>
                <th>Opening Crawl</th>
                <th>Director</th>
                <th>Producer</th>
                <th>Release Date</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                <td>{{ movie.0 }}</td>
                <td>{{ movie.1 }}</td>
                <td>{{ movie.2 }}</td>
                <td>{{ movie.3 }}</td>
                <td>{{ movie.4 }}</td>
                <td>{{ movie.5 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>