{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Synopsis" %}</th>
                <th>{% trans "Writer" %}</th>
                <th>{% trans "Created" %}</th>
                <th>{% trans "When" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for article in object_list %}
                <tr>
                    <td>{{ article.title }}</td>
                    <td>{{ article.synopsis|truncatechars:20 }}</td>
                    <td>{{ article.author }}</td>
                    <td>{{ article.created|date:"N j, Y, P" }}</td>
                    <td>{{ article.created|timesince }} {% trans "ago" %}</td>
                    <td>
                        <a href="{% url 'article_detail' article.id %}" class="btn btn-info btn-sm">{% trans "Read" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}